<% if services.present? %>
  <% services.sort_by{|s| [s.managed_by?(current_user.section) ? 0 : 1, s.id]}.each do |service| %>
    <div class="service-row">
      <% active = @service.try(:id) == service.id ? 'active-service' : nil %>
      <div class="row area <%= active %> <%= service.managed_by?(current_user.section) ? 'own-section' : 'other-section'%>">
        <div class="col-lg-10">
          <%= link_to template_list_service_path(service), class: 'ajax-loading-display service-name', remote: true do %>
            <%= service.name %>
          <% end %>
        </div>
        <div class="text-right col-lg-2">
          <span class="badge template-count"><%= service.templates.displayables(current_user).count %></span>
        </div>
      </div>
    </div>
  <% end %>
  <% if display_paginate %>
    <div class="row">
      <div class="text-left col-lg-4">
        <%= link_to_previous_page services, t('.previous'), class: 'ajax-loading-display btn btn-primary btn-sm', remote: true %>
      </div>
      <div class="text-center col-lg-4">
        <%= services.current_page %>/<%= services.total_pages %>
      </div>
      <div class="text-right col-lg-4">
        <%= link_to_next_page services,  t('.next'), class: 'ajax-loading-display btn btn-primary btn-sm', remote: true %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= alert_tag(type: :warning) do %>
    <%= simple_format current_user.manager? ? t('.nothing_service_for_manager') : t('.nothing_service_for_other') %>
  <% end %>
<% end %>

<script>
  $('.service-name').on('click', function(){
    $('.active-service').removeClass('active-service');
    $(this).parent().parent().addClass('active-service');
  })
</script>
