<% input_id = "line_field_#{element.id}_#{item_number}" %>
<% value = values.detect{|v|v.element_id == element.id && v.item_number == item_number} %>
<% disabled = !value.editable_on?(@template) if value %>
<% field_name = "template_record[#{element.id}][#{item_number}][0]" %>

<div class="row" id="<%= "input_form_#{element.id}_#{item_number}" %>">
  <div class="control-group" >
    <div class="col-sm-3" id="<%= "element#{element.id}_#{item_number}_description_field" %>">
      <%= hidden_field_tag "#{field_name}[id]", value.try(:id) if value %>
      <%= hidden_field_tag "#{field_name}[content_id]", value.try(:content_id) %>
      <%= hidden_field_tag "#{field_name}[template_id]", value ? value.try(:template_id) : @template.id %>
      <%= text_field_tag "#{field_name}[value]", value.try(:value), id: input_id, class: "form-control", disabled: disabled, placeholder: "#{element.data_example}" %>
    </div>
    <% if element.confirm_entry? %>
      <div class="col-sm-3">
        <%=
          link_to("javascript:;",
          {
            class: "btn btn-success confirm-entries-modal-button #{'disabled' if disabled}",
            method: :post,
            remote: true,
            data: {
              "keyword" => input_id,
              "href" => search_keyword_template_records_path(template_id: element.template_id, element_id: element.id)
            }
          }) do
        %>
          <span class="glyphicon glyphicon-search"></span>
          <%= t(".confirmation_of_registration_details") %>
        <% end %>
      </div>
    <% end %>
    <%# if element.multiple_input? %>
      <%#*<div class="col-sm-2">%>
        <%#= remove_form_button(element.id, item_number) if !disabled && item_number != 1 %>
        <%#= add_form_button(@template, element, form_object_name, item_number + 1, (disabled || last_item_number != item_number)) unless disabled %>
      <%#*</div>%>
    <%# end %>
  </div>
</div>