<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3><%= t(".title") %></h3>
      </div>
      <div class="modal-body">
        <% if @keywords.empty? %>
          <%= t(".please_enter_a_keyword") %>
        <% else %>
          <ul id="myTab" class="nav nav-tabs">
            <% @keywords.each.with_index(1) do |keyword, i| %>
              <li class="<%= "active" if i == 1%>">
                <%= link_to(keyword, "#tab#{i}", "data-toggle" => "tab") %>
              </li>
            <% end %>
          </ul>

          <div id="myTabContent" class="tab-content">
            <% @content_lists.each.with_index(1) do |contents, i| %>
              <div class="tab-pane fade in <%= "active" if i == 1%>" id="<%= "tab#{i}" %>">
                <%= render partial: "search_keyword_list", locals: {template: @template, contents: contents} %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal"><%= t("shared.close") %></a>
      </div>
    </div>
  </div>
</div>