<div id="data-select-list" class="modal fade big-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('.title') %></h4>
      </div>
      <div class="modal-body">
        <% if records.empty? %>
          <%= t(".no_data") %>
        <% else %>
          <div id="pagination_list<%= template.id %>">
            <%= render partial: "/templates/records/list",
              locals: {template: template, elements: elements, records: records, table_id: "data-table", operator: false} %>
          </div>
        <% end %>
      </div>

      <div class="modal-footer">
        <%= button_tag_with_icon t('shared.close'), type: 'button', class: "btn btn-warning", data: {dismiss: "modal"}, icon: 'remove-sign' %>
      </div>
    </div>
  </div>
</div>