<%= error_messages_for current_user %>
<%= form_for(current_user, url: update_password_section_users_path(section_id: @section.id), html: {class: "form-horizontal well"}) do |f| %>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <%= button_tag_with_icon t("shared.update"), class: "btn btn-primary", icon: "edit" %>
  <%= link_to_back section_users_path(section_id: @section.id), icon: "edit" %>
<% end %>