<% content_for(:page_title){ page_title(section_name: @section.name) } %>

<%= form_for(@user, url: section_users_path(section_id: @section.id), html: {class: "well form-horizontal"}) do |f| %>

  <%= render partial: "form", locals: {f: f} %>
  <%= button_tag_with_icon t("shared.new"), class: "btn btn-primary", icon: "plus-sign" %>
  <%= link_to_cancel(section_users_path(section_id: @section.id)) %>
<% end %>

<div id="pagination_list">
  <%= render partial: "list", locals: {users: @users} %>
</div>
