<% child_exists = @element.children.exists? %>

<% if child_exists %>
  <%= alert_tag(type: :warning) do %>
    <%= t('.child_exists') %>
  <% end %>
<% end %>

<%= form_for([@template, @element], html: {class: 'well form-horizontal', role: 'form', id: "template_element_form"}) do |f| %>
  <%= error_messages_for(@element) %>

  <div class="form-group">
    <%= f.label :name, class: 'col-lg-2 control-label' %>
    <div class="col-lg-3">
      <%= f.text_field :name, class: 'form-control static-tooltip-description', data: {toggle: "tooltip", placement: "top", 'original-title' => t('.name_title')} %>
    </div>
  </div>


  <% if child_exists %>
    <%= render "templates/elements/forms/elements/multiple_input_form", element: @element %>
  <% else %>
    <%= render "templates/elements/forms/elements/input_type_form", element: @element %>

    <div id="change-for-input-type-form">
      <%= render_form_with_input_type(@template, @element, @element.input_type) %>
    </div>

    <div class="form-group">
      <%= f.label :available, class: 'col-lg-2 control-label' %>
      <div class="col-lg-3">
        <%= f.check_box :available, class: 'static-tooltip-description', data: {toggle: "tooltip", placement: "top", 'original-title' => t('.available_title')} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :display, class: 'col-lg-2 control-label' %>
      <div class="col-lg-3">
        <%= f.check_box :display, class: 'static-tooltip-description', data: {toggle: "tooltip", placement: "top", 'original-title' => t('.display_title')} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :publish, class: 'col-lg-2 control-label' %>
      <div class="col-lg-3">
        <%= f.check_box :publish, class: 'static-tooltip-description', data: {toggle: "tooltip", placement: "top", 'original-title' => t('.publish_title')} %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <%= button_tag_with_icon @element.new_record? ? t('.add') : t('shared.update'), class: 'btn btn-primary', icon: @element.new_record? ? 'plus-sign' : 'edit' %>
      <%= link_to_with_icon t('.back_list'), show_elements_template_elements_path(@template), class: 'btn btn-warning', icon: 'circle-arrow-left' %>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('.static-tooltip-description').tooltip()

    $('#element_input_type_id').on('change', function(){
      $.get('<%= change_form_template_elements_path(@template, id: params[:id]) %>', {input_type_id: $(this).val()});
    })
  })
</script>
