<div class="form-group">
  <%= label_tag :element_source_element_id, t('activerecord.attributes.element.source_element_id'), class: 'col-lg-2 control-label' %>
  <div class="col-lg-5">
    <% elements = template.present? ? template.inputable_elements{|els| els.includes(:children) } : [] %>
    <% if !template %>
      <%= alert_tag{t('.nothing_template')} %>
    <% elsif elements.blank? %>
      <%= alert_tag{t('.nothing_elements', template: template.name)} %>
    <% end %>
    <%= select_tag :element_source_element_id,
      options_for_select(elements.map{|e| [e.name, e.id]}, element.try(:source_element_id)),
      name: 'element[source_element_id]',
      class: 'form-control vocabulary-select static-tooltip-description',
      data: {
        toggle: "tooltip",
        placement: "top",
        'original-title' => t('.source_element_id_title')
      }
    %>

    <% if elements.present? %>
      <%= link_to t('.data_confirm'), values_template_elements_path(template, element_id: elements.first.id), id: 'displayed_element_value', class: 'btn btn-primary show-link btn-sm', remote: true, icon: 'info-sign' %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.static-tooltip-description').tooltip()

    <% if template %>
      $('#element_source_element_id').on('change', function(){
        $('#displayed_element_value').attr('href', '<%= values_template_elements_path(template) %>' + '?element_id=' + $(this).val())
      })
    <% end %>
  })
</script>
