<table class="table table-striped table-bordered">
  <caption><%= t(".list") %></caption>
  <tr>
    <th><%= t(".no") %></th>
    <th><%= t("activerecord.attributes.section.name") %></th>
    <th><%= t("activerecord.attributes.section.copyright") %></th>
    <th><%= t(".operator") %></th>
  </tr>

  <% sections.each.with_index(1) do |se, idx| %>
    <tr>
      <td><%= idx + sections.offset_value %></td>
      <td>
        <%= se.name %>
        <span class="label label-primary">
          <span class="glyphicon glyphicon-user"></span>
          ×<%= se.users.size %>
        </span>
      </td>
      <td><%= se.copyright %></td>
      <td>
        <%= render partial: "menu", locals: {section: se} %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate sections, remote: true, params: {action: "index"} %>
